<div class="hide-on-small-screen">
    <footer>
        <section class="box1">
            <div class="upperbox">
                
                <div class="map"><button>Get Directions ></button></div>
            <div class="querybox">
                <h1>GOT ANY QUERY?</h1>
                <div class="form-container">
                <form action="action_page.php">
    
                    <label for="fname"> Name</label>
                    <input type="text" id="fname" >
                
                    <label for="lname">whatsapp number</label>
                    <input type="text" id="lname"  >
    
                    <label for="lname">E-mail</label>
                    <input type="text" id="e-mail"  >
                
                    <label for="subject">Any Queries</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:80px"></textarea>
                
                    <input type="submit" value="Submit">
                
                  </form>
                </div>
            </div> 
        </div>
    
    
        </section>
       <div class="info">
                <div class="link-box">
                    <h2>Links</h2>
                    <li>About</li>
                    <li>Nearby Places</li>
                </div>
                <div class="link-box">
                    <h2>Wellness center</h2>
                    <li>About</li>
                    <li>Nearby Places</li>
                </div>
                <img src="../../assets/img/logo.png"  class="foot-logo">
                
                <div class="link-box-icons">
                    <h2>Socials</h2>
                    <div class="icons">
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
                <div class="link-box">
                    <h2>Contact</h2>
                   <div class="icons">
                    <i class="fa-solid fa-phone "></i>
                    <i class="fa-solid fa-envelope "></i>
                   </div>
                </div>
            </div>
        
    </footer>
</div>


<div class="hide-on-large-screen">
    <section class="footerDesign">
        <div class="querybox">
            <h1>GOT ANY QUERY?</h1>
            <div class="form-container">
            <form action="action_page.php">

                <label for="fname"> Name</label>
                <input type="text" id="fname" >
            
            

                <label for="lname">E-mail</label>
                <input type="text" id="e-mail"  >
            
                <label for="subject">Any Queries</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:80px"></textarea>
            
                <input type="submit" value="Submit">
                <h4>or</h4>
                <button class=""><i class="fa-brands fa-whatsapp" style="color: rgb(1, 255, 1); margin-right: 10px; font-size: 30px;"></i>whatsapp us</button>
              </form>
            </div>
        </div> 
       
    </section>
     <div class="map"><img src="../../assets/img/map.png" height="500px" width="100%">
        <button class="btn">Get Directions ></button>
    </div>
  </div>